In [1]:
from sklearn.datasets import fetch_california_housing
housing = fetch_california_housing()

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
bagimsiz_degiken = housing['data']

In [4]:
housing['feature_names']

['MedInc',
 'HouseAge',
 'AveRooms',
 'AveBedrms',
 'Population',
 'AveOccup',
 'Latitude',
 'Longitude']

In [5]:
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nAn household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surpinsingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [7]:
import pandas as pd
df = pd.DataFrame(housing['data'],columns=housing['feature_names'])

In [8]:
housing['target']

array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894])

In [9]:
df['target'] = housing['target']

In [10]:
df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [11]:
df.describe()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,3.870671,28.639486,5.429000,1.096675,1425.476744,3.070655,35.631861,-119.569704,2.068558
std,1.899822,12.585558,2.474173,0.473911,1132.462122,10.386050,2.135952,2.003532,1.153956
min,0.499900,1.000000,0.846154,0.333333,3.000000,0.692308,32.540000,-124.350000,0.149990
25%,2.563400,18.000000,4.440716,1.006079,787.000000,2.429741,33.930000,-121.800000,1.196000
50%,3.534800,29.000000,5.229129,1.048780,1166.000000,2.818116,34.260000,-118.490000,1.797000
75%,4.743250,37.000000,6.052381,1.099526,1725.000000,3.282261,37.710000,-118.010000,2.647250
max,15.000100,52.000000,141.909091,34.066667,35682.000000,1243.333333,41.950000,-114.310000,5.000010

In [12]:
# BAGIMLI DEGISKEN, HEDEF, TARGET, Y
y = df['target']
y

0        4.526
1        3.585
2        3.521
3        3.413
4        3.422
         ...
20635    0.781
20636    0.771
20637    0.923
20638    0.847
20639    0.894
Name: target, Length: 20640, dtype: float64

In [14]:
# BAGIMSIZ DEGİSKENLER, FEAUTRE, X , PARAMETRE

In [15]:
X = df.drop('target',axis=1)
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [14]:
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [17]:
X_train.shape

(16512, 8)

In [18]:
X_test.shape

(4128, 8)

In [19]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score


def evaluate_linear_regression(X, y):
    model_name = "Doğrusal Regresyon"
    # Veri kümesini eğitim ve test olarak ayıralım
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Doğrusal regresyon modelini oluştur
    model = LinearRegression()

    # Modeli eğit
    model.fit(X_train, y_train)

    # Test verileri için tahmin yap
    y_pred_test = model.predict(X_test)

    # Ortalama Karesel Hata (Mean Squared Error)
    mse = mean_squared_error(y_test, y_pred_test)

    # R-kare (Coefficient of Determination)
    r2 = r2_score(y_test, y_pred_test)

    # Raporu yazdır
    print("------ Model Başarısı ------")
    print("Model:", model_name)
    print("Ortalama Karesel Hata (MSE):", mse)
    print("R-kare (R-squared) Değeri:", r2)

    # Tahmin edilen ve gerçek değerleri pandas DataFrame olarak oluşturalım
    result_df = pd.DataFrame({'Tahmin Edilen': y_pred_test.flatten(), 'Gerçek Değerler': y_test.values.flatten()})
    print("\n------ Gerçek Değerler ile Tahmin Edilen Değerler ------")
    print(result_df)

# Örnek kullanım:
evaluate_linear_regression(X, y)

------ Model Başarısı ------
Model: Doğrusal Regresyon
Ortalama Karesel Hata (MSE): 0.5558915986952444
R-kare (R-squared) Değeri: 0.5757877060324508

------ Gerçek Değerler ile Tahmin Edilen Değerler ------
      Tahmin Edilen  Gerçek Değerler
0          0.719123          0.47700
1          1.764017          0.45800
2          2.709659          5.00001
3          2.838926          2.18600
4          2.604657          2.78000
...             ...              ...
4123       1.991746          2.63300
4124       2.249839          2.66800
4125       4.468770          5.00001
4126       1.187511          0.72300
4127       2.009403          1.51500

[4128 rows x 2 columns]

In [20]:
import numpy as np
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score


def evaluate_knn_regression(X, y, n_neighbors=5):
    model_name = "K-En Yakın Komşu (KNN)"
    # Veri kümesini eğitim ve test olarak ayıralım
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # K-En Yakın Komşu modelini oluştur
    model = KNeighborsRegressor(n_neighbors=n_neighbors)

    # Modeli eğit
    model.fit(X_train, y_train)

    # Test verileri için tahmin yap
    y_pred_test = model.predict(X_test)
    # joblib.dump(model) export edip indirebilirm

    # Ortalama Mutlak Hata (Mean Absolute Error)
    mae = mean_absolute_error(y_test, y_pred_test)

    # R-kare (Coefficient of Determination)
    r2 = r2_score(y_test, y_pred_test)

    # Raporu yazdır
    print("------ Model Başarısı ------")
    print("Model:", model_name)
    print("Ortalama Mutlak Hata (MAE):", mae)
    print("R-kare (R-squared) Değeri:", r2)

    # Tahmin edilen ve gerçek değerleri pandas DataFrame olarak oluşturalım
    result_df = pd.DataFrame({'Tahmin Edilen': y_pred_test.flatten(), 'Gerçek Değerler': y_test.values.flatten()})
    print("\n------ Gerçek Değerler ile Tahmin Edilen Değerler ------")
    print(result_df)

# Örnek kullanım:
evaluate_knn_regression(X, y, n_neighbors=5)

------ Model Başarısı ------
Model: K-En Yakın Komşu (KNN)
Ortalama Mutlak Hata (MAE): 0.8127975600775195
R-kare (R-squared) Değeri: 0.14631049965900345

------ Gerçek Değerler ile Tahmin Edilen Değerler ------
      Tahmin Edilen  Gerçek Değerler
0            1.6230          0.47700
1            1.0822          0.45800
2            2.8924          5.00001
3            2.2456          2.18600
4            1.6690          2.78000
...             ...              ...
4123         1.9128          2.63300
4124         2.0962          2.66800
4125         2.5944          5.00001
4126         1.6490          0.72300
4127         2.0050          1.51500

[4128 rows x 2 columns]

In [21]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score


def evaluate_ann_regression(X, y):
    model_name = "Yapay Sinir Ağları (ANN)"
    # Veri kümesini eğitim ve test olarak ayıralım
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Yapay Sinir Ağı modelini oluştur
    model = MLPRegressor(hidden_layer_sizes=(100,), activation='relu', solver='adam', random_state=42)

    # Modeli eğit
    model.fit(X_train, y_train.ravel())

    # Test verileri için tahmin yap
    y_pred_test = model.predict(X_test)

    # Ortalama Mutlak Hata (Mean Absolute Error)
    mae = mean_absolute_error(y_test, y_pred_test)

    # R-kare (Coefficient of Determination)
    r2 = r2_score(y_test, y_pred_test)

    # Raporu yazdır
    print("------ Model Başarısı ------")
    print("Model:", model_name)
    print("Ortalama Mutlak Hata (MAE):", mae)
    print("R-kare (R-squared) Değeri:", r2)

    # Tahmin edilen ve gerçek değerleri pandas DataFrame olarak oluşturalım
    result_df = pd.DataFrame({'Tahmin Edilen': y_pred_test, 'Gerçek Değerler': y_test.values.flatten()})
    print("\n------ Gerçek Değerler ile Tahmin Edilen Değerler ------")
    print(result_df)

# Örnek kullanım:
evaluate_ann_regression(X, y)

------ Model Başarısı ------
Model: Yapay Sinir Ağları (ANN)
Ortalama Mutlak Hata (MAE): 0.6505725637517896
R-kare (R-squared) Değeri: 0.4559843585127632

------ Gerçek Değerler ile Tahmin Edilen Değerler ------
      Tahmin Edilen  Gerçek Değerler
0          1.182847          0.47700
1          1.941848          0.45800
2          3.036933          5.00001
3          2.825844          2.18600
4          2.445795          2.78000
...             ...              ...
4123       2.364280          2.63300
4124       2.055774          2.66800
4125       4.514515          5.00001
4126       2.076897          0.72300
4127       1.894751          1.51500

[4128 rows x 2 columns]

In [22]:
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score
from xgboost import XGBRegressor

model_name = "XGBoost"
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# XGBoost modelini oluştur
model = xgb.XGBRegressor(random_state=42)
# Modeli eğit
model.fit(X_train, y_train)

# Test verileri için tahmin yap
y_pred_test = model.predict(X_test)

    # Ortalama Mutlak Hata (Mean Absolute Error)
mae = mean_absolute_error(y_test, y_pred_test)
   # R-kare (Coefficient of Determination)
r2 = r2_score(y_test, y_pred_test)


# Raporu yazdır
print("------ Model Başarısı ------")
print("Model:", model_name)
print("Ortalama Mutlak Hata (MAE):", mae)
print("R-kare (R-squared) Değeri:", r2)

------ Model Başarısı ------
Model: XGBoost
Ortalama Mutlak Hata (MAE): 0.3113019309873128
R-kare (R-squared) Değeri: 0.828616180679985

In [ ]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error, r2_score

def evaluate_regression_algorithms(X, y):
    algorithms = [
        ("Doğrusal Regresyon", LinearRegression()),
        ("K-En Yakın Komşu (KNN)", KNeighborsRegressor(n_neighbors=5)),
        ("Destek Vektör Makineleri (SVM)", SVR(kernel='linear')),
        ("CART (Sınıflandırma ve Regresyon Ağaçları)", DecisionTreeRegressor(random_state=42)),
        ("Random Forest", RandomForestRegressor(n_estimators=100, random_state=42)),
        ("XGBoost", xgb.XGBRegressor(objective='reg:squarederror', random_state=42))
    ]

    results = []  # Tüm algoritmaların sonuçlarını depolamak için boş bir liste oluşturuyoruz.

    # Veri kümesini eğitim ve test olarak ayıralım
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

    for name, model in algorithms:
        # Modeli eğit
        model.fit(X_train, y_train.ravel())

        # Test verileri için tahmin yap
        y_pred_test = model.predict(X_test)

        # Ortalama Mutlak Hata (Mean Absolute Error)
        mae = mean_absolute_error(y_test.values.flatten(), y_pred_test)

        # R-kare (Coefficient of Determination)
        r2 = r2_score(y_test.values.flatten(), y_pred_test)

        # Sonuçları listeye ekle
        results.append((name, mae, r2))

        # Raporu yazdır
        print("-"*50)
        print("Model:", name)
        print("Ortalama Mutlak Hata (MAE):", mae)
        print("R-kare (R-squared) Değeri:", r2)
    return results
# Örnek kullanım:
results = evaluate_regression_algorithms(X, y)

--------------------------------------------------
Model: Doğrusal Regresyon
Ortalama Mutlak Hata (MAE): 0.527247453830597
R-kare (R-squared) Değeri: 0.5957702326061665
--------------------------------------------------
Model: K-En Yakın Komşu (KNN)
Ortalama Mutlak Hata (MAE): 0.8217871040051679
R-kare (R-squared) Değeri: 0.1337849088797427